.ipynb_checkpoints/*
.DS_Store
__pycache__/
out.csv
test.csv
notebooks/.ipynb_checkpoints/
mysql-connector-python/
Plot test.ipynb
scratch.ipynb
mysql-connector-python/
notebooks/Plot*
*pptx
docker/*
